body {
  height: 100vh;
  width: 100vw;
  background-color: #202226;
  color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.headerWrapper {
  height: 24px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center;
}

.nameTasks {
  font-size: 20px;
  font-weight: 700;
  margin-left: 8px;
}

.addTaskWrapper {
  width: 100%;
  background-color: #2a2c31;
  display: flex;
  margin-top: 24px;
  border-radius: 34px;
}

.addTask {
  width: 100%;
  height: 40px;
  background-color: #2a2c3100;
  color: #9a9b9e;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

.buttonAdd,
.buttonRegisterTask {
  width: 5em;
  height: 40px;
  background-color: #236fe2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  border: 0;
  border-radius: 34px;
}

.buttonRegisterTask {
  width: 15em;
  font-weight: 400;
  margin-top: 60px;
}

.buttonAdd:hover,
.buttonRegisterTask:hover {
  background-color: #236fe2b3;
  transition-duration: 250ms;
}

.container{
  flex: 1;
}

.noTaskWrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 24px;
}

.noTaskTitle,
.taskTitle {
  font-weight: 600;
}

.taskTitle {
  margin-top: 24px;
}

.noTaskImage {
  width: 80%;
  padding: 10%;
}

.noTaskNoneTxt {
  font-weight: 500;
  text-align: center;
}

.withTaskWrapper {
  width: 100%;
}

.completedTasksWrapper{
  margin-top: 24px;
}

.completedWrapper {
  display: flex;
  justify-content: space-between;
}

.completedTitle,
.completedNumber {
  font-size: 14px;
  font-weight: 600;
}

.completedEvolutionExternal {
  width: 100%;
  height: 10px;
  background-color: #202226;
  border: 1px solid #393b41;
  border-radius: 49px;
  box-sizing: border-box;
  margin-top: 4px;
}

.completedEvolutionInternal {
  width: 0;
  height: 8px;
  background-color: #236fe2;
  border: 1px solid #202226;
  border-radius: 49px;
  transition-duration: 300ms;
  box-sizing: border-box;
}

.tasksListWrapper {
  width: 100%;
  max-height: 594px;
  overflow: auto;
}

.tasksWrapper {
  margin-top: 16px;
  width: 100%;
  height: 50px;
  background-color: #373a44;
  border: 0;
  border-radius: 8px;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.taskNameWrapper {
  display: flex;
  align-items: center;
}

.taskName::first-letter {
  text-transform: uppercase;
}

.taskName {
  max-width: 78%;
  font-weight: 300;
  margin-left: 15px;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.buttonTaskChecked {
  background-color: #373a44;
  width: 22px;
  height: 22px;
  border: 1px solid #202226;
  border-radius: 6px;
}
